.grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.attempt {
  display: flex;
  gap: 5px;
}

.case {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.case.empty {
  background-color: white;
}

.case.pending {
  border-color: #878a8c;
}

.case.correct {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}

.case.misplaced {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.case.absent {
  background-color: #787c7e;
  color: white;
  border-color: #787c7e;
}